body {
	font-family: "Open Sans";
	margin: 0;
}

h1 {
	color: #c14a28;
	margin-top: 20px;
	}
.contact-me {
	font-weight: bold;
}

div {
	text-align:center;
}

.container {
	width: 70%;
	margin-left: 15%;
}

.header {
	height: 80px;
	padding-top: 10px;
	background-color: #f0f0f0;
}

img {
	margin:50px 0;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	transition: border-radius 1s ease-in-out;
	-webkit-transition: border-radius 1s ease-in-out;
	-moz-transition: border-radius 1s ease-in-out;
	-o-transition: border-radius 1s ease-in-out;
}

img:hover {
	border-radius: 0;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline;
}
p {
	color: #464646;
}
a {
	color: #222222;
	text-decoration: none;
}

a:hover {
	color: red;
}

.footer {
	height: 80px;
	background-color:#f0f0f0;
	padding-top: 20px;
}